* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
p {
  margin-bottom: 16px;
}

.card {
  width: 300px;
  padding: 20px;
  background: #eee;
  margin-bottom: 50px;
}
.card__image {
  width: 100%;
}
.card__title {
  font-size: 24px;
}
.card__text {
  font-size: 16px;
}
.card__button {
  padding: 10px 20px;
  border: none;
}
.card__button--primary {
  background: #007bff;
  color: #fff;
}
.card__button--secondary {
  background: #44b996;
  color: #fff;
}
